* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
  background-color: #FFD8BE;
}

header {
  background-color: #785964;
  width: 100%;
  height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.25rem;
  color: #FFFFFF;
  margin-left: 50px;
}

h2 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 2.25rem;
  color: #FFFFFF;
  margin: 0;
}

.blue-line {
  background-color: #7BDFF2;
  height: 20px;
}

.purple-line {
  background-color: #9381FF;
  height: 10px;
}

#main-section {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

#main-section #p1 {
  margin-left: 50px;
}

footer {
  background-color: #454545;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #7BDFF2;
  font-weight: bold;
}


/**** MEDIA QUERY FOR MOBILE - MAX-WIDTH 650 ****/

@media (max-width: 650px) {
  header {
    flex-direction: column;
    justify-content: center;
  }
}

/**** MEDIA QUERY FOR MOBILE - MAX-WIDTH 500 ****/

@media (max-width: 500px) {
  h1, h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  #main-section {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #main-section #p1 {
    margin: 0;
  }
}
